export VISUAL=vim
export EDITOR=vim

export https_proxy=http://127.0.0.1:7890 http_proxy=http://127.0.0.1:7890 all_proxy=socks5://127.0.0.1:7890

export NEMU_HOME=/home/htvon/os/pa/ics2023/nemu
export AM_HOME=/home/htvon/os/courses/os-workbench/abstract-machine
export TOOLS_BIN=/opt/i686-elf-tools-linux/bin:/usr/local/go/bin:~/gems/bin:/usr/local/musl/bin:~/.bin

export PATH="$TOOLS_BIN:$PATH"

